# MongoDB Atlas Credentials (Required for Feature Store)
MONGO_URI="mongodb+srv://<user>:<password>@<cluster-uri>/"
DB_NAME="islamabad_aqi_db"

# Hopsworks Credentials (Optional Feature Store - Set if using Hopsworks instead of MongoDB)
HOPSWORKS_API_KEY=""
HOPSWORKS_PROJECT_NAME="islamabad_aqi"

# DagsHub / MLflow Tracking Credentials (Model Registry & Experiment Tracking)
MLFLOW_TRACKING_USERNAME=""
MLFLOW_TRACKING_PASSWORD=""
MLFLOW_TRACKING_URI=""
