streamlit
fastapi
uvicorn
pydantic
matplotlib
pandas>=2.0.0
numpy>=1.24.0
python-dotenv
pymongo
scikit-learn
xgboost
lightgbm
tensorflow
shap
hopsworks==5.0.6
confluent-kafka==2.11.1
fastavro==1.12.0
mlflow-skinny
dagshub
cloudpickle
plotly
psutil
pyarrow
scipy
openmeteo-requests
requests-cache
retry-requests
