streamlit
fastapi
uvicorn
pydantic
matplotlib
pandas>=2.0.0
numpy>=1.24.0
python-dotenv
pymongo[srv]
scikit-learn
xgboost
lightgbm
tensorflow
shap
hopsworks
mlflow-skinny
dagshub
cloudpickle
plotly
psutil
pyarrow
scipy
openmeteo-requests
requests-cache
retry-requests
